.DS_Store

## PHPStorm
.idea

## symfony
vendor
UPGRADE*
app/config/parameters.yml
app/cache/*
app/logs/*

## codeigniter
application/config/thermopi.php
application/config/database.php

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
